{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<style>
#login-card{
    width:500px;
    margin-left:30%;
    margin-top: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
</style>
<div id="login-card" class="card">
<div  class="card-body">
<h4 class="card-title" style="text-align: center;">Sign In</h4>

<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">
<form method="post">
    <!-- <input type="hidden" name="csrfmiddlewaretoken" value="lkgrOu2eSmuuPE4jk1GKaEtn172Y7Ps1gT3EyRZ1aChSt75b8WiGOgFKUOktQ0sr"> -->
    <div  class="form-group">
        <input type="text" name="username" placeholder="UserName" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" 
        class="textinput textInput form-control" required="" id="id_username"> 
    </div>
    <div  class="form-group">
        <input type="password" placeholder="Password" name="password" autocomplete="current-password" class="textinput textInput form-control" 
        required="" id="id_password"> </div> 
    </div>
    <button type="submit" class="btn btn-info btn-success btn-block">Log in</button>
</form>
</div>
</div>
{% endblock %}